---
# https://docs.openstack.org/python-openstackclient/latest/configuration/index.html#configuration-files
clouds:
  ovh:
    auth:
      auth_url: "$OS_AUTH_URL"
      project_name: "$OS_TENANT_NAME"
      username: "$OS_USERNAME"
      password: "$OS_PASSWORD"
    region_name: "$OS_REGION_NAME"
